<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite1" verbose="1">
    <test name="Groups">
        <classes>
            <class name="frontend.suites.SmokeTest">
                <methods>
                    <include name="secondSmokeTest"></include>
                </methods>
            </class>
            <class name="frontend.suites.RegressTest">
                <methods>
                    <include name="secondRegressTest"></include>
                </methods>
            </class>
            <class name="frontend.suites.FailureTest">
                <methods>
                    <include name="secondFailureTest"></include>
                </methods>
            </class>
        </classes>
    </test>
</suite>
